.limited {
  background-color: #EC9115 !important;
}

.search {
  margin-bottom: 5px;
}

.strong {
	font-weight: bold;
}

.ak-icon {
	height: 100%;
}

.ak-icon-inverted {
	height: 100%;
	filter: invert(1);
}

.rounded {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 6px;
}

#operator-card-container {
  overflow-x: visible;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: grab;
  user-select: none;

  background-color: #eee;
  border-radius: 6px;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
}

#operator-card-container.grabbing {
  cursor: grabbing;
}

.operator-card {
  height: 100%;
  width: 180px;
}

.six-star-bordered {
  border: 2px solid orange;
}

.five-star-bordered {
  border: 2px solid yellow;
}

.operator-table img {
  height: 50px;
}

.operator-table tr {
  line-height: 50px;
}

.operator-table span {
  height: 50px;
  display: flex;
  align-items: center;
}

.operator-table progress {
  margin-left: 1em;
}

.operator-table th {
  white-space: nowrap;
}

