body {
  background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url("../public/bg_corridor.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.limited {
  background-color: rgb(96,0,0) !important;
}
